/* css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec-1 {
  background-color: #22223B;
  color: #FFFFFF;
}
#sec-2 {
  background-color: #C9ADA7;
}
#sec-3 {
  background-color: #4A4E69;
  color: #FFFFFF;
  padding-top: 20%;
  padding-bottom: 20%;
}
#sec-4 {
  background-color: #F2E9E4;
  padding-top: 20%;
  padding-bottom: 20%;
}
#sec-5 {
  background-color: #4A4E69;
  color: #FFFFFF;
  padding-top: 20%;
  padding-bottom: 20%;
}
#sec-6 {
  background-color: #F2E9E4;
  padding-top: 20%;
  padding-bottom: 20%;
}
#sec-7 {
  background-color: #4A4E69;
  color: #FFFFFF;
  padding-top: 20%;
  padding-bottom: 20%;
}
#sec-8 {
  background-color: #F2E9E4;

}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #FFFFFF;;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 40%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}
h1{
  font-family: "Montserrat", "Arial", sans-serif;
}
h3{
  font-family: "Montserrat", "Arial", sans-serif;
}
h6{
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
}
p{
  font-family: "Roboto", "Arial", sans-serif;
}
ol{
  font-size: x-large;
  font-family: "Roboto", "Arial", sans-serif;
}
ul{
  font-size: x-large;
  font-family: "Roboto", "Arial", sans-serif;
}
video{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
p{
  font-size: x-large;
}
img{
  height: 15vw;
  width: 15vw;
  margin-left: 3%;
  margin-right: 3%;
}
@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.task{
  height: 50vw;
  width: 50vw;
  border-radius: 15%;
}
